<!DOCTYPE html>
<html>
  {{ include "partials/layout_start.html" }}

  {{ include "partials/header_block.html" }}
  {{ include "partials/headline_block.html" }}
  {{ include "partials/rule_block.html" }}
  {{ include "partials/cta_button_block.html" }}
  {{ include "partials/link_block.html" }}
  {{ include "partials/rule_block.html" }}
  {{ include "partials/kv_details_block.html" }}
  {{ include "partials/rule_block.html" }}
  {{ include "partials/files_block.html" }}
  {{ include "partials/footer_block.html" }}

  {{ include "partials/layout_end.html" }}
</html>
