<tr>
  <td style="font-size:{{ section_label_size }};letter-spacing:{{ section_label_tracking }};text-transform:uppercase;color:{{ muted_text_color }};padding:{{ section_gap_md }} 0 10px 0;">
    Details
  </td>
</tr>
<tr>
  <td style="font-size:{{ body_size }};line-height:{{ body_line_height }};">
    <span style="color:{{ muted_text_color }};">Version:</span>
    <span style="color:{{ text_color }};font-weight:{{ strong_weight }};">{{ version_label }}</span>
    <br />
    <span style="color:{{ muted_text_color }};">Access until:</span>
    <span style="color:{{ text_color }};font-weight:{{ strong_weight }};">{{ retention_until }}</span>
  </td>
</tr>
