<tr>
  <td style="font-size:{{ headline_size }};line-height:{{ headline_line_height }};letter-spacing:{{ headline_tracking }};text-transform:uppercase;font-weight:{{ strong_weight }};color:{{ text_color }};padding:0 0 {{ section_gap_sm }} 0;">
    {{ headline_line1 }}
  </td>
</tr>
<tr>
  <td style="font-size:{{ headline_size }};line-height:{{ headline_line_height }};letter-spacing:{{ headline_tracking }};text-transform:uppercase;font-weight:{{ strong_weight }};color:{{ text_color }};padding:0 0 {{ section_gap_md }} 0;">
    {{ headline_line2 }}
  </td>
</tr>
<tr>
  <td style="font-size:{{ section_label_size }};letter-spacing:{{ section_label_tracking }};text-transform:uppercase;color:{{ muted_text_color }};padding:0 0 {{ section_gap_lg }} 0;">
    {{ project_code }} &bull; {{ project_name }}
  </td>
</tr>
